<!DOCTYPE html>
<html lang="en" class="w-full">

<head class="container mx-auto">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title class="text-center block w-full"><%= pageTitle %></title>
   
    <link href="/output.css" rel="stylesheet">
   

   


